* {
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}

body {
    background-color: hsl(120, 73%, 85%);
}

main {
    border: 1px solid #a3a2a2;
    width: clamp(18.75rem, 95%, 37.5rem);
    padding: 2rem 2rem;
    margin: 25vh auto;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: lightgreen;
}

p {
    margin-bottom: 0.5rem;
}

h1 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    text-align: center;
}

#input-div {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 5px 10px;
}

button {
    padding: 5px 20px;
}

input,
button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: 6px;
}

button:hover {
    background-color: hsla(0, 0%, 95%, 0.5);
}

button:active {
    background-color: rgba(255, 255, 255, 0);
}

#result {
    min-height: 18.4px;
}